{
    "Copyright": [
        "# Copyright (c) 2022-2023, NVIDIA CORPORATION & AFFILIATES.",
        "# All rights reserved.",
        "#",
        "# NVIDIA CORPORATION, its affiliates and its licensors retain all intellectual",
        "# property and proprietary rights in and to this software, related",
        "# documentation and any modifications thereto.  Any use, reproduction,",
        "# disclosure or distribution of this software and related documentation",
        "# without an express license agreement from NVIDIA CORPORATION or its",
        "# affiliates is strictly prohibited."
    ],
    "common": {
        "FIRMWARE_DIR": "firmware/"
    },
    "linux": {
        "NV_SDK_NAME_LINUX": "drive-linux",
        "SDKPLATDIR": "${NV_WORKSPACE}/${NV_SDK_NAME_LINUX}/",
        "BASE_DIR": "${SDKPLATDIR}/filesystem/",
        "SCRIPTS_DIR": "${BASE_DIR}/scripts/",
        "DEB_DIR": "${BASE_DIR}/contents/debians/",
        "MIRROR_DIR": "${DEB_DIR}/canonical/",
        "NV_MIRROR_DIR": "${DEB_DIR}/nvidia/",
        "CUDA_INSTALL_DEB_DIR": "${NV_MIRROR_DIR}",
        "CUDNN_INSTALL_DEB_DIR": "${NV_MIRROR_DIR}",
        "DWSDK_DIR": "${NV_MIRROR_DIR}",
        "TRT_INSTALL_DEB_DIR": "${NV_MIRROR_DIR}",
        "NVIDIA_DOCKER_DIR": "${NV_MIRROR_DIR}",
        "MLNX_OFED_DIR": "${NV_MIRROR_DIR}",
        "COPYTARGETYAML_DIR": "${BASE_DIR}/copytarget/manifest/",
        "SELINUX_SETFILES_PATH": "${SDKPLATDIR}/filesystem/contents/config/startup/scripts/setfiles",
        "SELINUX_POLICY_PATH": "${SDKPLATDIR}/filesystem/contents/config/selinux/policy.30",
        "SELINUX_CONTEXT_PATH": "${SDKPLATDIR}/filesystem/contents/config/selinux/file_contexts",
        "FS_IMAGES_DIR": "${BASE_DIR}/targetfs-images/",
        "REQUIRED_VARIABLES": "NV_WORKSPACE,NVRTKERNELNAME,PROD_SUFFIX"
    },
    "qnx": {
        "NV_SDK_NAME_QNX": "drive-qnx",
        "SDKPLATDIR": "${NV_WORKSPACE}/${NV_SDK_NAME_QNX}/",
        "QNX_TOP": "${SDKPLATDIR}",
        "FS_INSTALL_DIR": "${SDKPLATDIR}/filesystem/targetfs-images/",
        "COPYTARGET_DIR": "${QNX_TOP}/filesystem/copytarget/manifest/",
        "IFS_COPYTARGET_DIR": "${QNX_TOP}/filesystem/copytarget/manifest/",
        "BUILDFILE_HEADER_DIR": "${QNX_TOP}/filesystem/copytarget/headers/",
        "BUILDFILE_SCRIPT_DIR": "${QNX_TOP}/filesystem/copytarget/scripts/",
        "QNX_PASSWD_FILE": "${QNX_TOP}/nvidia-bsp/aarch64le/sbin/passwd_file",
        "QNX_GROUP_FILE": "${QNX_TOP}/nvidia-bsp/aarch64le/sbin/group",
        "REQUIRED_VARIABLES": "NV_WORKSPACE,QNX_TARGET,QNX_HOST"
    }
}
